<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Random Word Generator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <style>
        .box{
            position: relative;
            margin-left: 30%;
            margin-top: 20%;

        }

        .random_box{
            border: 1px solid black;
            width: 160px;
            height: 59px;
            padding: 15px;
            margin-bottom: 10px;
        }
    </style>
    <body>
        {% csrf_token %}
        <div class = "box">
            <p>Random Word (attempt # {{ request.session.count }}) </p>
            <div class = "random_box" >
                <h3>{{ request.session.word }}</h3>
            </div>

            <form action="/random_word/generate" method="get">
                <input type="submit" value="Generate">
            </form>
        </div>
    </body>
</html>