<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Amadon Store</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <style>
        .box{
            position: relative;
            margin-left: 0%;
            margin-top: 0%;
            display: inline-block;
           
            padding: 10px;
            width: 30%;
            vertical-align: top;

        }

        #bigger {
            width: 60%;
        }

        p{
            margin: 5px;
            padding: 0px;
        }

        table, th, td {
            border: 1px solid black;
        }

        .color {
            background-color: lightblue;
            font-weight: bold;
        }
    </style>
    <body>
        <h3>Amadon Store!</h3>
      
        <table>
            <col width="150">
            <col width="100">
            <col width="100">
            <col width="100">
            <tr class = "color">
                <td>Item</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Actions</td>
            </tr>
            <tr>
                <td>Dojo Tshirt</td>
                <td>$19.99</td>
                <td><form action='/amadon/buy' method='post'>
                    {% csrf_token %}
                    <select name='quantity'>
                       <option>1</option>
                       <option>2</option>
                       <option>3</option>
                    </select>
                    <td>
                        <input type='hidden' name='product_id' value='1' />
                        <input type='submit' value='Buy!' />
                    </td>
                  </form>
                </td>
            </tr>
            <tr>
                <td>Dojo Sweater</td>
                <td>$29.99</td>
                <td><form action='/amadon/buy' method='post'>
                    {% csrf_token %}
                    <select name='quantity'>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <td>
                        <input type='hidden' name='product_id' value='2' />
                        <input type='submit' value='Buy!' />
                    </td>
                    </form>
                </td>
            </tr>
            <tr>
                <td>Dojo Cup</td>
                <td>$4.99</td>
                <td><form action='/amadon/buy' method='post'>
                    {% csrf_token %}
                    <select name='quantity'>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <td>
                        <input type='hidden' name='product_id' value='3' />
                        <input type='submit' value='Buy!' />
                    </td>
                    </form>
                </td>
            </tr>
            <tr>
                <td>Algorithm Book</td>
                <td>$49.99</td>
                <td><form action='/amadon/buy' method='post'>
                    {% csrf_token %}
                    <select name='quantity'>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <td>
                        <input type='hidden' name='product_id' value='4' />
                        <input type='submit' value='Buy!' />
                    </td>
                    </form>
                </td>
            </tr>
        </table>
        
        <div class="box" id="bigger">
            <form action="/amadon/reset" method="GET">
                <button type='submit'>Clear</button>
            </form>
          
        </div>
    </body>
</html>